/* GRID LAYOUT */
.grid {
    width: 75%;
    
    margin: auto;
    
    /* FOR IE ffs stupid browser why are you using it */
    display: -ms-grid;
    
    -ms-grid-columns: auto auto auto;
    -ms-grid-rows: auto auto auto;
    
    display: grid;
    
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto; 
    
    grid-gap: 1em;
    
}

.card {
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}

.card .front {
    width: 100%;
    height 100%;
    backface-visibility: hidden;
    transform: rotateY(0deg);
    transition: 0.5s;
}

.card:hover .front {
    transform: rotateY(-180deg);
}

.card .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 0.5s;
}

.card:hover .back {
    transform: rotate(0deg);
}



.img {
    width: 100%;
    height: 20em;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
}

/* Button */
.see-more {
    width: 100%;;
    position:relative;
    
    background-color: transparent;
    border-color: #ffa584;
    border-style: solid;
    
    color: #ffa584;
    font-size: 1.5em;
    
    cursor: pointer;
}

.see-more:hover {
    background-color: #ffa584;
    color: #6e6e6e;
}

/*####################################################*/

/* RESPONSIVENESS */

@media (max-width: 1150px){
    
    .img{
        height: 15em;
    }
    
    .grid {
        width: 90%;
    }
    
}

@media (max-width: 750px){
    .img{
        height: 15em;
    }
    
    .grid {
        width: 100%;
        -ms-grid-columns: auto;
        -ms-grid-rows: auto;
        
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}
