<!-- Extend the base html -->
{% extends "photography/base.html" %}
<!-- Load static path -->
{% load static%}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">
{% endblock styles %}

{% block content %}
	<main class="main-col">

		<section class="page-title">{{title}}</section>

		<section class="grid">

			{% for post in blog_posts %}
				<div class="blog_box">
		                <h2><a href="{% url 'photography-post' post.slug %}">{{post.title}}</a></h2>

		                <p>{{post.snippet}}</p>

		            </div>
			{% endfor %}

		</section>

	</main>
{% endblock content %}