<!-- Extend the base html -->
{% extends "photography/base.html" %}
<!-- Load static path -->
{% load static %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'photography/css/gallery.css' %}">
	<!-- FANCY BOX LINKS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.css" />	
{% endblock styles %}

{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.js"></script>
	<script src="{% static 'photography/js/gallery.js' %}"></script>
{% endblock scripts %}

{% block content %}
	<main class="main-col">
        <section class="page-title">
        	<h1>{{title}}</h1>
        </section>

        {% for group in gallery_groups %}

        	<div class="desc">
                <h1>{{group.title}}</h1>
                
                <img class="icon" src="{{group.logo.url}}">
                
                <div class="clear"></div>

                <div class="show-toggle animated infinite bounce slow">
                    <img class="snav-icon" src="{% static 'photography/images/icons/arrow.png' %}">
                </div>

                <p class="more-text">
                    {{group.desc}}
                </p>

                <br>

                {% if group.video %}
                	<video controls>
                		<source src="{{group.video.url}}" type="video/mp4">
            			Your browser does not support the video tag.
                	</video>
                {% endif %}

            </div>

            <section class="grid">

        		{% for gallery_image in group.gallery_image.all %}
        			<a data-fancybox="{{gallery_image.image_group}}" href="{{gallery_image.image.url}}">
	                	<img class="img" src="{{gallery_image.image.url}}" alt="{{gallery_image.alt}}">
	            	</a>

        		{% endfor %}

    		</section>

        {% endfor %}
        
    </main>
{% endblock content %}