<!-- Extend the base html -->
{% extends "photography/base.html" %}
<!-- Load static path -->
{% load static%}

{% block meta %}
	<meta name="google-site-verification" content="CbsqaBnHARkHGSJUuqefDDHyAx--U2dr8RiDdhM4wxs" />
{% endblock meta %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'photography/css/index.css' %}">
{% endblock styles %}

{% block scripts %}
	<script src="{% static 'photography/js/index.js' %}"></script>
{% endblock scripts %}

{% block content %}
	<section class="home">
		<a class="trans" href="{% url 'photography:contact' %}">
			<button id="contact-btn">Contact</button>
		</a>
	</section>

	<div id="me"></div>

	<section class="about">

		<section class="page-title">Who am I?</section>

		<section class="grid desc">

			<div>
				<img class="img" src="{% static 'photography/images/me.jpg' %}">
			</div>

			<div>
				<p>
					Hi, I'm Warren and I am a Computer Science(BSc) student studying at the university of Brighton. Photography is a fun, creative outlet for me. I'm always sat at my desk or working on my laptop at university and so I use photography as an escape from the screen. Staring at lines of code all day can give the best of people a headache so it's nice to just be able to get up and do something else fun yet productive.
				</p>

				<p>
					My images haven't got a shared theme or anything special like that. I simply just make images of things that interest me in the moment. Although recently I have tried to focus on the creation of image stories/collections. This has been fun because it's getting me to think more about the images I'm making and how they all connect with each other to form a story.

					<br> If you are interested on what I am offering please feel free to contact me <a class="trans" href="{% url 'photography:contact' %}">here.</a>
				</p>
			</div>

		</section>

	</section>
{% endblock content%}
