<!-- Extend the base html -->
{% extends "photography/base.html" %}
<!-- Load static path -->
{% load static%}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'photography/css/gallery.css' %}">
	<!-- FANCY BOX LINKS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.js"></script>	
{% endblock styles %}

{% block scripts %}
	<script src="{% static 'photography/js/gallery.js' %}"></script>
{% endblock scripts %}

{% block content %}
	<main class="main-col">
        <section class="page-title">Gallery</section>
        
        <section class="grid">
            
            {% for image in images %}
            	
        		<a data-fancybox="{{image.image_group}}" href="{{image.url}}">
	                <img class="img" src="{{image.path}}" alt="{{image.alt}}">
	            </a>

            {% endfor %}
            
            
        </section>
        
    </main>
{% endblock content %}