 /*GRID LAYOUT */
.grid {
    width: 100%;
    
    margin: auto;
    margin-top: 1.5em;
    
    /* FOR IE ffs stupid browser why are you using it */
    display: -ms-grid;
    
    -ms-grid-columns: 50% 50%;
    
    display: grid;
    
    grid-template-columns: 50% 50%;
    
    grid-gap: 1em;
}
/*####################################################*/

/* PAGE ITEM STYLE */
.main_image_container img {
    display: block;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    align-content: center;
    max-height: 30em;
}

.image_container img {
    display: block;
    width: 75%;
    object-fit: cover;
    overflow: hidden;
    margin: auto;
    max-height: 25em;
}

.desc_container {
    padding: 1em;
    font-size: 1.5em;
}

.text_container {
    padding: 1em;
    font-size: 1.25em;
    text-align: center;
}

.form_style {
    font-family: 'Roboto', sans-serif;
}

.comment {
    display: block;
    width: auto;
    margin: 1em;
    margin-top: 2em;
    text-align: left;
    clear: both;
}

.comment p {
    margin-left: 1em;
}

.reply {
    display: block;
    text-align: left;
    margin-left: 3em;
    clear: both;
}

.reply p {
    margin-left: 1em;
}

#comments {
    margin-bottom: 3em;
    padding-bottom: 3em;
}

#comments form {
    display: none;
}

/*####################################################*/

/* Button */
.reply_btn {
    width: 90%;
    background-color: transparent;
    border-color: #ffa584;
    border-style: solid;
    color: #ffa584;
    font-size: 2em;

    margin: 0 1em;

    left: 0;
    
    cursor: pointer;
}

.reply_btn:hover {
    background-color: #ffa584;
    color: #6e6e6e;
}
/*####################################################################*/

/* RESPONSIVENESS */

@media (max-width: 700px){
    
    .grid {
        -ms-grid-columns: auto;
        
        grid-template-columns: auto;
    }

    #comments form {
        width: 90%;
        margin: auto;
    }
    
}
/*####################################################