/* GRID LAYOUT */
.grid {
    width: 75%;
    
    margin: auto;
    
    /* FOR IE ffs stupid browser why are you using it */
    display: -ms-grid;
    
    -ms-grid-columns: auto auto auto;
    -ms-grid-rows: auto auto auto;
    
    display: grid;
    
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto; 
    
    grid-gap: 1em;
}

.img {
    width: 100%;
    height: 20em;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
}

/*####################################################*/

/* RESPONSIVENESS */

@media (max-width: 1150px){
    
    .grid {
        width: 90%;
        -ms-grid-columns: auto auto;
        -ms-grid-rows: auto auto;
        
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    
}

@media (max-width: 750px){
    
    .grid {
        width: 100%;
        -ms-grid-columns: auto;
        -ms-grid-rows: auto;
        
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}
