<!-- Extend the base html -->
{% extends "photography/base.html" %}
<!-- Load static path -->
{% load static%}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/detail.css' %}">
{% endblock styles %}

{% block scripts %}
{% endblock scripts %}

{% block content %}
	<main>

		<section class="page-title">
			<h1>{{post.title}}</h1>
		</section>

		<section class="grid">
			
			<div class="main_image_container">
				<img src="{{post.image.url}}" >
			</div>

			<div class="desc desc_container">
				<p>{{post.description}}</p>

				<p>{{post.date_posted|date:"D, M - Y"}}</p>
			</div>

		</section>

		<section>

			{% for sect in sections %}
				<div>

		                {% if sect.text1 %}
		                	<div class="text_container">
		                		<p>{{sect.text1}}</p>
		                	</div>
		                {% endif %}

		                {% if sect.image %}
		                	<div class="image_container">
		                		<img src="{{sect.image.url}}">
		                	</div>
		                {% endif %}

		                {% if sect.text2 %}
		                	<div class="text_container">
		                		<p>{{sect.text2}}</p>
		                	</div>
		                {% endif %}

		            </div>
			{% endfor %}

		</section>

	</main>
{% endblock content %}