<!-- Extend the base html -->
{% extends "photography/base.html" %}
<!-- Load static path -->
{% load static%}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'photography/css/contact.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/detail.css' %}">
{% endblock styles %}

{% block scripts %}
	<script src="{% static 'blog/js/blogDetail.js' %}"></script>
{% endblock scripts %}

{% block content %}
	<main>

		<section class="page-title">
			<h1>{{post.title}}</h1>
		</section>

		<section class="grid">
			
			<div class="main_image_container">
				<img src="{{post.image.url}}" >
			</div>

			<div class="desc desc_container">
				<p>{{post.description}}</p>

				<p>{{post.date_posted|date:"D, M - Y"}}</p>
			</div>

		</section>

		<section>

			{% for section in post.section.all %}
				<div>

	                {% if section.text1 %}
	                	<div class="text_container">
	                		<p>{{section.text1}}</p>
	                	</div>
	                {% endif %}

	                {% if section.image %}
	                	<div class="image_container">
	                		<img src="{{section.image.url}}">
	                	</div>
	                {% endif %}

	                {% if section.text2 %}
	                	<div class="text_container">
	                		<p>{{section.text2}}</p>
	                	</div>
	                {% endif %}

	            </div>
			{% endfor %}

		</section>

		<section class="desc">
			<h2>Leave a comment</h2>
			<form action="{% url 'blog:post' post.slug %}" method="post">
				{% csrf_token %}
				{{form}}
				<input type="submit" value="Submit Comment">
			</form>
		</section>

		<section id="comments" class="desc">
			<h2>Comments</h2>
			{% if post.comment.all %}
				{% for comment in post.comment.all %}
					{% if not comment.reply %}
						<div class="comment_wrapper">
							<div class="comment">
								<h3>{{comment.author}}</h3>

								<p>{{comment.comment}}</p>

							</div>

							
							{% endif %}

							{% for reply in comment.replies.all %}
								<div class="reply">
									<h3>{{reply.author}}</h3>

									<p>{{reply.comment}}</p>
								</div>

								
							{% endfor %}

							<!-- {% if not comment.reply %}
								<div class="clear"></div>
								<button class="reply_btn">Reply</button>
								<form class="reply" action="{% url 'blog:post' post.slug %}" method="post">
									<input type="hidden" name="comment_id" value="{{comment.pk}}">
									{% csrf_token %}
									{{form}}
									<input type="submit" value="Reply">
								</form>
								<div class="clear"></div>
							{% endif %} -->
					
						</div>
				{% endfor %}
			{% else %}
				<h3>There are no comments. Feel free to add one :)</h3>
			{% endif %}
		</section>

	</main>
{% endblock content %}