<!-- Extend the base html -->
{% extends "photography/base.html" %}
<!-- Load static path -->
{% load static%}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{% static 'blog/css/main.css' %}">
{% endblock styles %}

{% block content %}
	<main class="main-col">

		<section class="page-title">
			<h1>{{title}}</h1>
		</section>

		<section class="grid">

			{% for post in blog_posts %}
				
				<div class="post_container">
					<div class="image_container">

        				<img src="{{post.image.url}}">

					</div>

					<div class="text_container">
						<div class="post_title">
							<a href="{% url 'blog:post' post.slug %}">
	                			<h2>{{post.title}}</h2>
	    					</a>

							<p>{{post.date_posted|date:"D, M - Y"}}</p>
						</div>

						<p>{{post.section.first.text1|slice:":250"}} <a href="{% url 'blog:post' post.slug %}">Read more...</a></p>
					</div>
	            </div>
			{% endfor %}

		</section>

	</main>
{% endblock content %}